/* Button Base Styles */
.button {
  --button-font-size: 16px;
  --button-line-height: 125%;
  --button-background-disabled: var(--text-black-20);
  --button-background: var(--text-white);
  --button-padding: 20px 28px;
  --button-cursor: pointer;
  --button-border: none;
  --button-outline: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: auto;
  min-width: 0;
  height: auto;
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: 52px;
  color: var(--light-purple-100);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  outline: var(--button-outline);
  cursor: var(--button-cursor);
  transition: 0.2s;
  position: relative;
  background: transparent;
}

.button::after {
  content: '';
  display: block;
  background-color: var(--button-background);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: 0.2s;
  border-radius: 52px;
  top: 0;
  left: 0;
  pointer-events: none;
}

.button:hover::after {
  transform: scale(1.05);
}

.button:active::after {
  background-color: var(--button-background);
}

.button span {
  position: relative;
  z-index: 1;
  font-family: 'Mont', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-decoration: none;
  text-transform: none;
}

/* Button Variants */
.button.purple {
  color: var(--light-purple-100);
  --button-background: var(--text-white);
}

.button.purple:active::after {
  --button-background: var(--light-purple-10);
}

.button.purpleDark {
  color: var(--text-white);
  --button-background: var(--light-purple-100);
}

.button.purpleDark:active::after {
  --button-background: var(--light-purple-80);
}

.button.marine {
  color: var(--light-marine-100);
  --button-background: var(--text-white);
}

.button.marine:active::after {
  --button-background: var(--light-marine-10);
}

.button.marineDark {
  color: var(--text-white);
  --button-background: var(--light-marine-100);
}

.button.marineDark:active::after {
  --button-background: var(--light-marine-80);
}

.button.lilac {
  color: var(--light-lilac-100);
  --button-background: var(--text-white);
}

.button.lilac:active::after {
  --button-background: var(--light-lilac-10);
}

.button.lilacDark {
  color: var(--text-white);
  --button-background: var(--light-lilac-100);
}

.button.lilacDark:active::after {
  --button-background: var(--light-lilac-80);
}

.button.blue {
  color: var(--light-blue-100);
  --button-background: var(--text-white);
}

.button.blue:active::after {
  --button-background: var(--light-blue-10);
}

.button.blueDark {
  color: var(--text-white);
  --button-background: var(--light-blue-100);
}

.button.blueDark:active::after {
  --button-background: var(--light-blue-80);
}

.button.peach {
  color: var(--light-peach-100);
  --button-background: var(--text-white);
}

.button.peach:active::after {
  --button-background: var(--light-peach-20);
}

.button.peachDark {
  color: var(--text-white);
  --button-background: var(--light-peach-100);
}

.button.peachDark:active::after {
  --button-background: var(--light-peach-100);
}

.button.secondary {
  --button-color: var(--text-black-100);
  --button-color-hover: var(--text-black-100);
  --button-background: var(--text-white);
  --button-background-hover: var(--text-white);
  filter: drop-shadow(0px 0px 0px rgba(187, 199, 211, 0.4));
}

.button.secondary:hover {
  filter: drop-shadow(0px 0px 20px rgba(187, 199, 211, 0.4));
}

.button.secondary:hover::after {
  transform: scale(1.05);
}

.button.secondary:active {
  filter: drop-shadow(0px 0px 0px rgba(187, 199, 211, 0.4));
}

.button.secondary:active::after {
  background-color: var(--text-white);
  opacity: 0.7;
}

.button.secondary:active::after {
  transform: scale(1);
}

.button.secondary:disabled {
  --button-cursor: not-allowed;
  color: var(--text-black-60);
  filter: drop-shadow(0px 0px 0px rgba(187, 199, 211, 0.4));
  background: var(--text-white);
}

.button.tertiary {
  --button-color: var(--text-white);
  --button-background: none;
  --button-background-disabled: none;
  opacity: 0.7;
  border: 1px solid var(--text-white);
}

.button.tertiary:hover {
  opacity: 1;
}

.button.tertiary:hover::after {
  transform: scale(1.05);
}

.button.tertiary:active {
  opacity: 0.8;
}

.button.tertiary:active::after {
  transform: scale(1);
}

.button.tertiary:disabled {
  opacity: 0.2;
}

.button.ghost {
  color: var(--text-white);
  --button-background: var(--text-white);
}

.button.ghost::after {
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.button.ghost:hover::after {
  opacity: 0.15;
  transform: scale(1);
}

.button.ghost:active::after {
  opacity: 0.2;
  transform: scale(1);
}

.button.outline {
  color: var(--light-blue-100);
  --button-background: transparent;
  --button-border: 1px solid var(--light-blue-100);
  border: var(--button-border);
}

.button.outline::after {
  background-color: transparent;
}

.button.outline:hover::after {
  --button-background: var(--light-blue-10);
  background-color: var(--light-blue-10);
  transform: scale(1);
}

.button.outline:active::after {
  --button-background: var(--light-blue-20);
  background-color: var(--light-blue-20);
}

/* Button Sizes */
.button.large {
  --button-padding: 18px 24px;
}

.button.large span {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
}

.button.medium {
  --button-padding: 8px 16px 12px 16px;
}

.button.medium span {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
}

.button.small {
  --button-padding: 12px 20px;
}

.button.small span {
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.01em;
}

.button.grow {
  width: 100%;
}

/* Button Disabled State */
.button:disabled {
  box-shadow: none;
  color: var(--text-black-30);
  filter: none;
  --button-cursor: not-allowed;
  --button-background: var(--text-black-20);
}

.button:disabled::after {
  transform: scale(1);
}

.button:disabled:active::after,
.button:disabled:hover::after {
  --button-background: var(--text-black-20);
}

/* Responsive Styles - Button Text Styles */
/* 2560px and above */
@media (min-width: 2560px) {
  .button span {
    font-size: 18px;
    line-height: 155%;
  }
  
  .button.large span {
    font-size: 18px;
    line-height: 155%;
  }
  
  .button.medium span {
    font-size: 18px;
    line-height: 155%;
  }
  
  .button.small span {
    font-size: 16px;
    line-height: 155%;
  }
}

/* 1920px - 2559.98px */
@media (min-width: 1920px) and (max-width: 2559.98px) {
  .button span {
    font-size: 16px;
    line-height: 125%;
  }
  
  .button.large span {
    font-size: 16px;
    line-height: 125%;
  }
  
  .button.medium span {
    font-size: 16px;
    line-height: 125%;
  }
  
  .button.small span {
    font-size: 14px;
    line-height: 125%;
  }
}

/* 1600px - 1919.98px */
@media (min-width: 1600px) and (max-width: 1919.98px) {
  .button span {
    font-size: 16px;
    line-height: 125%;
  }
  
  .button.large span {
    font-size: 16px;
    line-height: 125%;
  }
  
  .button.medium span {
    font-size: 16px;
    line-height: 125%;
  }
  
  .button.small span {
    font-size: 14px;
    line-height: 125%;
  }
}

/* 1280px - 1599.98px */
@media (min-width: 1280px) and (max-width: 1599.98px) {
  .button span {
    font-size: 14px;
    line-height: 125%;
  }
  
  .button.large span {
    font-size: 14px;
    line-height: 125%;
  }
  
  .button.medium span {
    font-size: 14px;
    line-height: 125%;
  }
  
  .button.small span {
    font-size: 12px;
    line-height: 125%;
  }
}

/* 1024px - 1279.98px */
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .button span {
    font-size: 14px;
    line-height: 125%;
  }
  
  .button.large span {
    font-size: 14px;
    line-height: 125%;
  }
  
  .button.medium span {
    font-size: 14px;
    line-height: 125%;
  }
  
  .button.small span {
    font-size: 12px;
    line-height: 125%;
  }
}

/* 768px - 1023.98px */
@media (min-width: 768px) and (max-width: 1023.98px) {
  .button span {
    font-size: 14px;
    line-height: 125%;
  }
  
  .button.large span {
    font-size: 14px;
    line-height: 125%;
  }
  
  .button.medium span {
    font-size: 14px;
    line-height: 125%;
  }
  
  .button.small span {
    font-size: 12px;
    line-height: 125%;
  }
}

/* 375px - 767.98px */
@media (min-width: 375px) and (max-width: 767.98px) {
  .button {
    width: 100%;
    height: 44px;
    min-height: 44px;
  }
  
  .button span {
    font-size: 15px;
    line-height: 105%;
  }
  
  .button.large span {
    font-size: 15px;
    line-height: 105%;
  }
  
  .button.medium span {
    font-size: 15px;
    line-height: 105%;
  }
  
  .button.small span {
    font-size: 13px;
    line-height: 105%;
  }
}

/* max-width: 374.98px (320px) */
@media (max-width: 374.98px) {
  .button {
    width: 100%;
    height: 44px;
    min-height: 44px;
  }
  
  .button span {
    font-size: 14px;
    line-height: 100%;
  }
  
  .button.large span {
    font-size: 14px;
    line-height: 100%;
  }
  
  .button.medium span {
    font-size: 14px;
    line-height: 100%;
  }
  
  .button.small span {
    font-size: 12px;
    line-height: 100%;
  }
}
